<div class="block">
    <div class="container">
        <form (ngSubmit)="updatePatient(f)" #f="ngForm">
            <div class="columns">
                <div class="column">
                </div>
                <div class="column is-four-fifths">
                    <div class="container">
                        <br />
                        <div id="page-title" class="box">
                            <h1 class="title is-4">Manage Patients - Show patient</h1>
                        </div>
            <div hidden>
                <input class="input is-small" type="text" id="patientId" required [(ngModel)]="patient.patientId"
                    name="patientId" #patientId="ngModel">
            </div>
                        <div class="columns">
                            <div class="column is-half">
                                <div class="field">
                                    <label for="firstName" class="label is-medium">First Name</label>
                                    <div class="control">
                                        <input class="input is-medium" type="text" id="firstName" required
                                            [(ngModel)]="patient.firstName" name="firstName" #firstName="ngModel">
                                    </div>
                                </div>
                            </div>
                            <div class="column is-half">
                                <div class="field">
                                    <label for="lastName" class="label is-medium">Last Name</label>
                                    <div class="control">
                                        <input class="input is-medium" type="text" id="lastName" required
                                            [(ngModel)]="patient.lastName" name="lastName" #lastName="ngModel">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div id="col-content" class="columns">
                            <div class="column is-2">
                                <div class="field">
                                    <div class="columns">
                                        <div class="column is-3">
                                            <label class="label is-medium">Age</label>
                                        </div>
                                        <div class="column is-6">
                                            <div class="control">
                                                <input class="input is-medium" type="text" placeholder="" value="-"
                                                    disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-4">
                                <div class="field">
                                    <div class="columns">
                                        <div class="column is-4">
                                            <label class="label is-medium">Birth date</label>
                                        </div>
                                        <div class="column">
                                            <div class="control">
                                                <input class="input is-medium" type="text" id="birthDate" required
                                                    [(ngModel)]="patient.birthDate" name="birthDate"
                                                    #birthDate="ngModel">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-5">
                                <div class="field">
                                    <div class="columns">
                                        <div class="column is-2">
                                            <label class="label is-medium">Gender</label>
                                        </div>
                                        <div class="column is-2">
                                            <div class="control">
                                                <input class="input is-medium" type="text" id="gender" required
                                                    [(ngModel)]="patient.gender" name="gender" #gender="ngModel">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="columns">
                            <div class="column is-one-fifth">
                                <div class="field">
                                    <label class="label">Phone</label>
                                    <div class="control">
                                        <input class="input is-medium" type="text" id="phone" required
                                            [(ngModel)]="patient.phone" name="phone" #phone="ngModel">
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field">
                                    <label class="label">Address line 1</label>
                                    <div class="control">
                                        <input class="input is-medium" type="text" id="addressLine1" required
                                            [(ngModel)]="patient.addressLine1" name="addressLine1"
                                            #addressLine1="ngModel">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-one-fifth">
                            </div>
                            <div class="column">
                                <div class="field">
                                    <label class="label">Address line 2</label>
                                    <div class="control">
                                        <input class="input is-medium" type="text" id="addressLine2" required
                                            [(ngModel)]="patient.addressLine2" name="addressLine2"
                                            #addressLine2="ngModel">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-one-fifth">
                                <div class="field">
                                    <label class="label">Zip code</label>
                                    <div class="control">
                                        <input class="input is-medium" type="text" id="zipCode" required
                                            [(ngModel)]="patient.zipCode" name="zipCode" #zipCode="ngModel">
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field">
                                    <label class="label">City</label>
                                    <input class="input is-medium" type="text" id="city" required
                                        [(ngModel)]="patient.city" name="city" #city="ngModel">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="column">
                </div>
            </div>
            <div class="columns">
                <div class="column">
                </div>
                <div class="column is-5">
                    <a href="http://localhost:4200/patients">
                        <button id="left-btn" class="button is-danger">Cancel</button>&nbsp;
                    </a>
                    <button type="submit" id="right-btn" class="button is-success">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>