<div class="block">
    <div class="container">
        <div class="columns">
            <div class="column"></div>
            <div class="column is-four-fifths">
                <div id="listing" class="container">
                    <br />
                    <div id="page-title" class="box">
                        <h1 class="title is-4">Manage Patients - Patient list</h1>
                    </div>
                    <div class="columns">
                        <div class="column is-2 ">First Name</div>
                        <div class="column is-2">Last Name</div>
                        <div class="column is-2">Birth Date</div>
                        <div class="column is-1">Gender</div>
                        <div class="column is-3">Links</div>
                        <div class="column is-1">
                            <a routerLink = "/patients-add">
                                <button id="add-btn" class="button is-info is-small">Add Patient</button>
                            </a>
                        </div>
                    </div>
                    <div id="col-content" class="columns" *ngFor="let patient of patients"
                        [routerLink]="['patients','patient.patientId']">
                        <div class="column is-2">{{ patient.firstName }}</div>
                        <div class="column is-2">{{ patient.lastName }}</div>
                        <div class="column is-2">{{ patient.birthDate }}</div>
                        <div class="column is-1">{{ patient.gender }}</div>
                        <div class="column is-3">
                            <a href="patients-update/id?patientId={{ patient.patientId }}">
                                <button id="left-btn" class="button is-info is-small">Edit</button>&nbsp;
                            </a>
                            <a href="patients/id?patientId={{ patient.patientId }}">
                                <button id="right-btn" class="button is-success is-small">Show</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column"></div>
        </div>
    </div>
</div>