#add-btn {
    border-radius: 0.7em;
}

#left-btn, #right-btn {
    width: 70px;
}

#left-btn {
    border-top-left-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
}

#right-btn {
    border-top-right-radius: 0.7em;
    border-bottom-right-radius: 0.7em;
}

#listing .column {
    border-bottom: 1px solid #cccccc;
}