<div class="block">
    <div class="container">
        <div class="columns">
            <div class="column">
            </div>
            <div class="column is-four-fifths">
                <div class="container">
                    <br />
                    <div id="page-title" class="box">
                        <h1 class="title is-4">Medical file</h1>
                    </div>
                    <form [formGroup]="medicalForm" (ngSubmit)="onSubmit()">
                        <!-- <input class="input is-small" id="patientId" formControlName="patientId" disabled="true">
                        <input class="input is-small" id="birthDate" formControlName="birthDate" disabled="true"> -->

                        <div class="columns">
                            <div class="column is-two-fifths">
                                <label for="firstName" class="label is-medium">First Name</label>
                                <div class="control">
                                    <input class="input is-medium" id="firstName" formControlName="firstName"
                                        disabled="true">
                                </div>
                            </div>
                            <div class="column is-two-fifths">
                                <label for="lastName" class="label is-medium">Last Name</label>
                                <div class="control">
                                    <input class="input is-medium" id="lastName" formControlName="lastName"
                                        disabled="true">
                                </div>
                            </div>
                            <div class="column is-one-fifths">
                                <div class="columns">
                                    <div class="column is-half">
                                        <label for="age" class="label is-medium">Age</label>
                                        <div class="control">
                                            <input class="input is-medium is 1" id="age" formControlName="age"
                                                disabled="true">
                                        </div>
                                    </div>
                                    <div class="column is-half">
                                        <label for="gender" class="label is-medium is 1">Gender</label>
                                        <div class="control">
                                            <input class="input is-medium is 1" id="gender" formControlName="gender"
                                                disabled="true">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="columns">
                            <div class="column is-4">
                                <button type="button" id="diabetesEvalButton" class="button is outlined is-medium is-12"
                                    [style.color]="color" [style.background-color]="bgcolor"
                                    (click)="diabetesEvalButtonClick()"><strong>{{diabetesEvalButton}}</strong></button>&nbsp;
                            </div>
                            <div class="column is-1">&nbsp;
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column">
                                <label for="visits" class="label is-medium">Medical history - Visit list </label>
                            </div>
                            <div class="column is-2">
                                <button type="button" id="middle-btn" class="button is-info"
                                    (click)="addVisitButtonClick()">Add new visit</button>&nbsp;
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-12">
                                <hr class="style-one">
                                <div class="" formArrayName="visits">
                                    <div *ngFor="let item of medicalForm.controls.visits['controls']; let i=index"
                                        [formGroupName]="i">
                                        <div class="columns">
                                            <div class="column is-two-fifths">
                                                <input class="input is-success" type="text" id="task{{i}}"
                                                    formControlName="visitDate">
                                            </div>
                                            <div class="column is-two-fifths">
                                                <input class="input is-success" type="text" id="task{{i}}"
                                                    formControlName="practitioner">
                                            </div>
                                            <div class="column is-one-fifths">
                                                <button type="button" id="removeBtn" (click)="removeVisit(i)">
                                                    <span class="icon-text has-text-danger"><i
                                                            class="far fa-window-close is-medium"></i></span>

                                                </button>
                                            </div>
                                        </div>
                                        <div class="columns">
                                            <textarea id="notes" class="input is-medium is-info" type="text"
                                                id="task{{i}}" formControlName="notes"></textarea>
                                        </div>
                                        <hr class="style-one">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column">
                            </div>
                            <div class="column is-3">
                                <button type="button" id="left-btn" class="button is-info" (click)="goBackList()">
                                    Back to list</button>&nbsp;
                                <button type="submit" id="right-btn" class="button is-success">Save</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="column">
            </div>
        </div>

        <div>
        </div>
    </div>
</div>