hr.style-one {
  margin: -7px -15px 7px -15px;
  height: 5px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

textarea {
  height: 110px;
  margin: 0 12px;
}

#removeBtn {
  padding: 0;
  border-style: hidden;
  background-color: white;
  font-size: 30px;
}

#diabetesEvalButton {
  background-color: #dddddd;
  color: #999999;
}

#left-btn, #right-btn {
    width: 100px;
    
}

#left-btn {
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

#middle-btn {
    width: 120px;
}

#right-btn {
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}
