hr {
    border:solid;
    border-color:darkgray;
}

#left-btn, #right-btn {
    width: 100px;
    
}

#left-btn {
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

#middle-btn {
    width: 120px;
}

#right-btn {
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}
