<footer class="footer">
    <div class="block">
        <div class="container">
            <div class="box">
                <div class="content has-text-centered">
                    <p>
                        <strong>Diabetes Prevent</strong> by <a
                            href="https://github.com/Docky37/DiabetesPrevent">Thierry SCHREINER</a> - OpenClassrooms DA
                        Java project 9.
                        <br />
                        <strong>Angular</strong> / CSS <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy
                            Thomas</a>.
                        The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>