@import '../../../node_modules/bulma/bulma';

#page-title {
    margin-top: 1em;
    margin-left: -3em;
    background-color: $blue;
    border-radius: 1.5em;
    padding-left: 2em;
    padding-top: 0.55em;
    height: 3em;
}

#page-title h1{
    color: white;
}